@page "/"
@using Syncfusion.Blazor.RichTextEditor

<PageTitle>Index</PageTitle>
<SfRichTextEditor EnterKey="EnterKeyTag.BR">
    <p>Mme BIBARD se dispute non stop avec <span style="text-decoration: underline;"><strong>les autres usagers<br><b class="pasteContent_RTE"><u><span style="font-size:10.5pt;"><b class="pasteContent_RTE"><u><span style="font-size:10.5pt;">Elle ades propos injurieux<br><br> </span></u></b><br><br><br></span></u></b><br><br><br><br></strong></span></p>
</SfRichTextEditor>
@* <h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" /> *@
